html {
  font-size: 62.5%;
}

article, div {
  overflow: hidden;
}

/* ScrollBar */

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgba(26, 212, 203, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(26, 212, 203, 0.596);
}

/* Default Media : smartphones, portrait iPhone, portrait 480x320 phones (Android) */

.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  font-size: 1.6rem;
  color: #6e6e6e;
}

.App-header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header {
  background-color: rgb(26, 212, 203);
  font-size: 10px;
  height: 5rem;
}

.logo {
  display: none;
}

.search-bar {
  display: block;
  float: left;
  height: calc(100% - 2rem);
  width: calc(100% - 7rem);
  padding: .75rem .5rem .5rem 1.5rem;
}

.search-bar input {
  height: 100%;
  width: calc(100% - 7rem);
  border-radius: 1.5rem 0 0 1.5rem;
  border: 0.1rem solid transparent;
}

.search-bar input:focus {
  outline: none;
  border: 0.1rem solid rgb(85, 221, 214);
}

.search-bar input[type="text"] {
  padding-left: 2rem;
  color: rgb(0, 177, 168);
}

.search-bar input::placeholder {
  color: rgb(0, 177, 168);
}

.search-bar button {
  width: 4.2rem;
  height: 3.4rem;
  margin: 0;
  padding: 0;
  border-radius: 0 1.5rem 1.5rem 0;
  border: 0.1rem solid transparent;
}

.search-bar button:focus {
  outline: none;
  border: 0.1rem solid rgb(85, 221, 214);
}

.nav-bar {
  display: inline;
  height: 5rem;
  width: 5rem;
  float: right;
}

.nav-button {
  font-size: 3rem;
  cursor: pointer;
  color: white;
}

.App-main {
  padding-top: 5rem;
}

.products {}

/* ANCHOR CARD */

.card {
  width: 80vw;
  height: 20rem;
  display: inline-block;
  background-color: white;
  box-shadow: rgb(49 53 59 / 12%) 0px 1px 6px 0px;
  border-radius: 1rem;
  padding: 0.2rem;
  margin: 0.5rem 0.8rem;
  cursor: default;
  cursor: pointer;
}

.face-box {
  height: 10rem;
  width: 90%;
  display: table;
  background-color: rgba(159, 249, 255, 0.171);
  margin: 5% 5% 1rem 5%;
  border-radius: 1rem;
  font-size: 1.2rem;
}

.face-box * {
  display: table-cell;
  vertical-align: middle;
}

.face-box span {
  /* white-space: nowrap; */
}

.detail-box {
  text-align: left;
  padding: 0 5%;
  position: relative;
  height: 7.5rem;
}

.detail-box .id {
  font-size: 1.2rem;
}

.detail-box .size {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.detail-box .price {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(12, 163, 173);
}

.detail-box .date {
  right: 5%;
  font-size: 1rem;
  position: absolute;
  bottom: 0px;
}

/* ANCHOR MODAL CARD */

.modal-card {
  display: none;
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.modal-card.show {
  display: block;
}

.modal-card .background {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
}

.modal-card .box {
  position: absolute;
  height: 40rem;
  width: 80%;
  max-width: 50rem;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}

.modal-card .face-box {
  height: 20rem;
}

@media (min-width:calc(32em/1.6)) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .card {
    width: calc(50% - 3rem);
  }
}

@media (min-width:calc(60em/1.6)) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .App {
    color: rgb(57, 128, 24);
  }
  .logo {
    display: inline-block;
    float: left;
    height: 3rem;
    width: 6rem;
    text-align: center;
    color: green;
  }
  .card {
    width: calc(33% - 4rem);
  }
}

@media (min-width:calc(102.4em/1.6)) {
  /* big landscape tablets, laptops, and desktops */
  .App {
    color: rgb(0, 183, 255);
  }
  .card {
    max-width: calc((100% / 4) - 8rem);
  }
}