html {
  font-size: 62.5%;
}

article, div {
  overflow: hidden;
}

/* Default Media : smartphones, portrait iPhone, portrait 480x320 phones (Android) */

.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  font-size: 1.6rem;
  color: #282c34;
}

.App-header {
  position: fixed;
  width: 100%;
}

.header {
  background-color: wheat;
  font-size: 10px;
  height: 5em;
}

.logo {
  display: none;
}

.search-bar {
  display: inline-block;
  height: 100%;
}

.nav-bar {
  display: inline-block;
  height: 5rem;
  float: right;
  background-color: white;
}

.nav-button {}

.App-main {
  padding-top: 5rem;
}

.products {}

.card {
  width: 80vw;
  height: 20rem;
  display: inline-block;
  background-color: thistle;
  border-radius: 1rem;
  padding: 0.2rem;
  margin: 0 0.2rem;
  cursor: default;
}

@media (min-width:calc(32em/1.6)) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .card {
    width: 40vw;
  }
}

@media (min-width:calc(60em/1.6)) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .App {
    color: rgb(57, 128, 24);
  }
  .logo {
    display: inline-block;
    float: left;
    height: 3rem;
    width: 6rem;
    text-align: center;
    color: green;
  }
  .card {
    width: 25vw;
  }
}

@media (min-width:calc(102.4em/1.6)) {
  /* big landscape tablets, laptops, and desktops */
  .App {
    color: rgb(0, 183, 255);
  }
  .card {
    width: 20vw;
  }
}