html {
  font-size: 62.5%;
}

article, div {
  overflow: hidden;
}

/* ScrollBar */

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgba(26, 212, 203, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(26, 212, 203, 0.596);
}

/* Default Media : smartphones, portrait iPhone, portrait 480x320 phones (Android) */

.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  font-size: 1.6rem;
  color: #6e6e6e;
}

.App-header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* ANCHOR HEADER */

.header {
  background-color: rgb(26, 212, 203);
  height: 5rem;
}

.header * {
  display: inline-block;
}

.logo {
  display: none;
}

/* ANCHOR SEARCH BAR */

.search-bar {
  height: calc(100% - 2rem);
  width: calc(100% - 7rem);
  padding: .75rem .5rem .5rem 1.5rem;
}

.search-bar input {
  height: 100%;
  width: calc(100% - 7rem);
  border-radius: 1.5rem 0 0 1.5rem;
  border: 0.1rem solid transparent;
}

.search-bar input:focus {
  outline: none;
  border: 0.1rem solid rgb(85, 221, 214);
}

.search-bar input[type="text"] {
  padding-left: 2rem;
  color: rgb(0, 177, 168);
}

.search-bar input::placeholder {
  color: rgb(0, 177, 168);
}

.search-bar button {
  width: 4.2rem;
  height: 3.45rem;
  margin: 0;
  padding: 0;
  border-radius: 0 1.5rem 1.5rem 0;
  border: 0.1rem solid transparent;
  cursor: pointer;
  color: rgb(0, 177, 168);
  background-color: rgb(240, 249, 255);
}

.search-bar button:focus {
  outline: none;
  border: 0.1rem solid rgb(85, 221, 214);
}

/* ANCHOR NAV BAR */

.nav-bar {
  height: 5rem;
  width: 5rem;
  float: right;
  color: white;
}

.nav-button {
  font-size: 3.3rem;
  cursor: pointer;
}

/* ANCHOR APP MAIN */

.App-main {
  padding-top: 5rem;
}

.products {
  max-width: calc(100% - 2rem);
  margin-left: 1rem;
}

/* ANCHOR CARD */

.card {
  width: 80vw;
  height: 20rem;
  display: inline-block;
  background-color: white;
  box-shadow: rgb(49 53 59 / 12%) 0px 1px 6px 0px;
  border-radius: 1rem;
  padding: 0.2rem;
  margin: 0.5rem 0.8rem;
  cursor: pointer;
  float: left;
  width: calc(100% - 2rem);
  font-size: 1rem;
}

.face-box {
  height: 10em;
  width: 90%;
  display: table;
  background-color: rgba(159, 249, 255, 0.5);
  margin: 1rem auto;
  border-radius: 1rem;
  font-size: 1.2rem;
  position: relative;
}

.face-box .face {
  display: table-cell;
  vertical-align: middle;
}

.face-box span {
  /* white-space: nowrap; */
}

.face-box .ad {
  width: 100%;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.detail-box {
  text-align: left;
  padding: 0 5%;
  position: relative;
  height: 7.5em;
}

.detail-box .id {
  font-size: 1.2em;
}

.detail-box .size {
  margin-top: 0.5em;
  font-size: 1.2em;
  font-weight: 700;
}

.detail-box .price {
  font-size: 1.8em;
  font-weight: 600;
  color: rgb(12, 163, 173);
}

.detail-box .date {
  right: 5%;
  top: .5em;
  font-size: 1.2em;
  position: absolute;
  bottom: 0px;
}

/* ANCHOR MODAL CARD */

.modal-card {
  display: none;
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.modal-card.show {
  display: block;
}

.modal-card .background {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
}

.modal-card .box {
  position: absolute;
  height: 33rem;
  width: 80%;
  max-width: 50rem;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}

.modal-card .face-box {
  height: 20rem;
}

/* ANCHOR UTILITIES SELECT*/

.utilities {
  height: 5rem;
  width: 100%;
  background-color: rgb(26, 212, 203);
  color: white;
  margin-bottom: 2rem;
}

.utilities>* {
  display: inline-block;
  height: 5rem;
  width: calc(33% - 1rem);
}

.utilities select {
  height: calc(100% - 2rem);
  width: calc(100% - 3rem);
  margin: 1rem 0;
  margin-left: 0.5rem;
  border-radius: .5rem;
  border: .1rem solid transparent;
  float: left;
}

.utilities select:focus {
  border: .1rem solid rgb(0, 177, 168);
  outline: none;
}

.utilities select option {
  height: 2rem;
}

.utilities .icon {
  font-size: 2rem;
  width: 2rem;
  height: 100%;
  position: relative;
  float: left;
}

.utilities .category {
  margin-left: 1rem;
  float: left;
}

.utilities .filter {}

.utilities .sort {
  margin-right: 1rem;
  float: right;
}

.utilities .icon>* {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

/* ANCHOR LOADING */

.loading {
  position: relative;
  min-height: 10rem;
}

.loading.show>* {
  display: block;
  font-size: 3rem;
}

.loading.show.full {
  min-height: calc(100vh - 21rem);
}

.loading>* {
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

@media (min-width:calc(36em/1.6)) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .card {
    width: calc(100% - 2rem);
  }
}

/* ANCHOR TABLET */

@media (min-width:calc(60em/1.6)) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .logo {
    display: inline-block;
    float: left;
    height: 100%;
    width: 8rem;
    text-align: center;
    color: green;
    position: relative;
    cursor: pointer;
    color: white;
  }
  .logo .icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .search-bar {
    height: calc(100% - 2rem);
    width: calc(100% - 15rem);
    padding: .75rem .5rem .5rem 1.5rem;
  }
  .card {
    width: 80vw;
    height: 21rem;
    display: inline-block;
    background-color: white;
    box-shadow: rgb(49 53 59 / 12%) 0px 1px 6px 0px;
    border-radius: 1rem;
    padding: 0.2rem;
    margin: 0.5rem 0.8rem;
    width: calc(50% - 2rem);
    font-size: 1.2rem;
  }
  .modal-card .box {
    height: 37rem;
  }
}

/* ANCHOR DESKTOP */

@media (min-width:calc(102.4em/1.6)) {
  /* big landscape tablets, laptops, and desktops */
  .App {
    margin: auto;
  }
  .App .App-header, .App .App-main, .App {
    max-width: 128rem;
  }
  .card {
    max-width: calc(25% - 2rem);
  }
  .search-bar {
    width: calc(100% - 40rem);
    float: left;
  }
  .nav-bar {
    width: 30rem;
    float: right;
  }
  .nav-bar .nav-button {
    display: none;
  }
  .nav-bar ul.menu{
    height: 100%;
    margin: 0;
    display: table;
    float: right;
    margin-right: 2rem;
  }
  .nav-bar ul.menu li{
    cursor: pointer;
    height: 100%;
    padding: 0rem 0.5rem;
    vertical-align: middle;
    display: table-cell;
  }
  .nav-bar ul.menu li:hover{
    background-color: rgb(21, 173, 166);
  }
}